.side-bar {
  background-color: #fff;
  border-radius: 0px 10px 10px 0;
  position: relative;
  width: 100%;
  .search-container {
    flex-grow: 1;
    margin: 6px 12px;
    align-items: center;
    border-radius: 5px;
    align-self: center;
    gap: 5px;
    border: 1px solid $green;
    .search-icon {
      color: $green;
      margin-left: 10px;
    }
    input {
      background-color: transparent;
      border: 0;
      outline: none;
      padding: 10px 0;
      color: $green;
      font-size: 0.8rem;
      max-width: 100px;
      &::placeholder {
        color: $green;
      }
    }
  }
  .chat-list-container {
    margin-top: 20px;
  }

  @include large-mobile-layout {
    padding: 12px 0;
    .search-container {
      background-color: #3bb78f;
      margin: 24px 12px;
      border: 0;
      .search-icon {
        color: $white;
      }
      input {
        font-size: 1.2rem;
        color: $white;
        max-width: unset;
        &::placeholder {
          color: $white;
        }
      }
    }
  }

  @include tablet-layout {
    width: unset;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    .search-container {
      width: 300px;
      background-color: rgba(103, 102, 102, 0.6);
      flex-grow: unset;
    }
  }
}
