$green: #0bab63c2;
$white: #f3f3f3;
$veryLight: #c2c2c2;
$light: #3a4750;
$dark: #303841;

//padding
$padding: 32px;

//Layout breakpoints
$break-narrow: 460px;
$break-tablet: 720px;
$break-normal: 960px;
$break-wide: 1300px;
